<h2>Update the drone</h2>

<form action='/drones/{{id}}/edit' method="POST">
    <label for="nombre">Drone name:</label>
    <input id="name" name="name" type="text" value="{{name}}"></input>

    <label for="url">Number of propellers:</label>
    <input id="propellers" name="propellers" type="text" value="{{propellers}}"></input>

    <label for="url">Maximum speed:</label>
    <input id="maxSpeed" name="maxSpeed" type="text" value="{{maxSpeed}}"></input>
    
    <button type="submit">Update drone 🛸</button>
</form>